body {
    background-color: rgb(168, 166, 166);
}

header {
    background-color: rgb(156, 203, 241);
    color:white;
}

h1{
 color:rgb(255, 255, 255);
 font-family:'Fjalla One', sans-serif;
}

p {
    font-family: 'Abel', sans-serif;
    color:white;
}

nav ul{
    list-style: none;
    color:white;
    display: flex;
    justify-content: space-evenly;
}

ul{
    font-family: 'Abel', sans-serif;
}



/* desktop views*/

@media only screen and (min-width:64rem) {

nav ul li a {padding: .6 1rem;}
    
}