header {
    color: white;
    border-radius: 25px;
    background: rgb(106, 188, 255);
    padding: 20px;
    width: 92%;
    height: 125px;
}

.logobox {
    float: left;
    height: 120px;
    padding: 10px;
}

img {
    height: 100px;
}

h1 {
    color: rgb(255, 255, 255);
    margin-top: 20px;
    margin-bottom: 0px;
}

.slogan {
    font-family: 'Abel', sans-serif;
    color: white;
    font-size: 1.3em;
}

.currentconditions {
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 2px 2px 2px #999;
    max-width: 50vw;
    border-radius: 40px;
    text-align: center;
    margin: 3%;
    background-color: #6abbff;
}

.all-components {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    margin: 20%;
}


/* Background Pictures for Summary */

#temperature,
#precipitation,
#conditions {
    text-align: center;
}

@media only screen and (max-width:45em) {
    .all-components {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        margin: 0 auto;
        padding-bottom: 1em;
        align-items: center;
    }
    nav ul {
        list-style: none;
        color: rgb(255, 129, 129);
        justify-content: space-evenly;
    }
    /*phone or baseline view*/
    nav button {
        margin: .2rem 2%;
        background-color: transparent;
        border: none;
        font-size: 1.6rem;
        color: #555;
        position: fixed;
        bottom: 0;
    }
    nav ul {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-color: antiquewhite;
        opacity: 90%;
        z-index: 10;
    }
    nav ul {
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        margin-bottom: 9%;
    }
    ul {
        display: flex;
        padding: 0;
        list-style: none;
        justify-content: space-evenly;
        position: fixed;
        right: 0%;
        bottom: 0;
    }
    nav ul li a {
        display: block;
        padding: .8rem 2%;
        text-decoration: none;
        color: black;
        border-top: 1px solid rgba(0, 0, 0, 0.3);
    }
    nav ul li.active a {
        background-color: rgba(0, 0, 0, 0.2);
        color: #fff;
    }
    nav ul li a:hover {
        background-color: rgba(0, 0, 0, 0.4);
    }
    nav ul.hide {
        display: none;
    }
    button {
        line-height: 2;
        box-sizing: inherit;
        position: absolute;
        right: 5px;
        font-size: 110%;
    }
}

footer {
    text-align: center;
    margin-bottom: 3rem;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


/*weather component */

main {
    display: flex;
    flex-direction: column;
}

.outer {
    width: 200px;
    height: 200px;
    background-color: darkgray;
    position: relative;
    border-radius: 90%;
    display: flex;
    justify-content: center;
    margin-left: 30px;
}

.inner {
    min-width: 150px;
    min-height: 150px;
    background-color: #fff;
    border-radius: 90%;
    align-self: center;
    position: absolute;
}

.o1 {
    position: absolute;
    top: -37px;
    right: 88px;
}

.o2 {
    /*transform: translate(220px, -22px)*/
    position: absolute;
    top: -27px;
    right: 39px;
}

.o3 {
    position: absolute;
    top: 17px;
    right: -5px;
}

.o4 {
    position: absolute;
    top: 72px;
    right: -20px;
}

.o5 {
    position: absolute;
    top: 132px;
    right: -6px;
}

.o6 {
    position: absolute;
    top: 174px;
    right: 37px;
}

.o7 {
    position: absolute;
    top: 185px;
    right: 91px;
}

.o8 {
    position: absolute;
    top: 174px;
    right: 144px;
}

.o9 {
    position: absolute;
    top: 132px;
    right: 191px;
}

.o10 {
    position: absolute;
    top: 72px;
    right: 204px;
}

.o11 {
    position: absolute;
    top: 14px;
    right: 192px;
}


/*inner*/

.i1 {
    /*transform: translate(-78px, -8px)*/
    position: absolute;
    top: -14px;
    right: 93px;
}

.i2 {
    /*transform: translate(-45px, 0px)*/
    position: absolute;
    top: -1px;
    right: 49px;
}

.i3 {
    position: absolute;
    top: 28px;
    right: 21px;
}

.i4 {
    position: absolute;
    top: 74px;
    right: 9px;
}

.i5 {
    position: absolute;
    top: 117px;
    right: 20px;
}

.i6 {
    position: absolute;
    top: 152px;
    right: 51px;
}

.i7 {
    position: absolute;
    top: 162px;
    right: 95px;
}

.i8 {
    position: absolute;
    top: 151px;
    right: 138px;
}

.i9 {
    position: absolute;
    top: 117px;
    right: 171px;
}

.i10 {
    position: absolute;
    top: 74px;
    right: 183px;
}

.i11 {
    position: absolute;
    top: 28px;
    right: 153px;
}


/*center*/

.center {
    position: absolute;
    top: 92px;
    right: 92px;
}


/*ball slider*/

.slider {
    /* position: absolute;
    display: block; */
    border-radius: 50%;
    background-color: black;
    z-index: 80;
    height: 30px;
    width: 30px;
}


/*backgroundimages*/

.sunny {
    background-image: url("/weather/images/sunny.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.snowy {
    background-image: url("/weather/images/snow.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: .90;
}

.rainy {
    background-image: url("/weather/images/rain.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: .90;
}

.cloudy {
    background-image: url("/weather/images/cloud.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: .90;
}

.foggy {
    background-image: url("/weather/images/fog.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: .90;
}

@media only screen and (max-width:45em) {
    .sunny {
        background-image: url("/weather/images/sunny-small.jpg");
    }
    .snowy {
        background-image: url("/weather/images/snow-small.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
        opacity: .90;
    }
    .rainy {
        background-image: url("/weather/images/rain-small.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
        opacity: .90;
    }
    .cloudy {
        background-image: url("/weather/images/clouds-small.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
        opacity: .90;
    }
    .foggy {
        background-image: url("/weather/images/fog-small.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
        opacity: .90;
    }
}