header{
    align-items: left;
    font-family:'Fjalla One', sans-serif;
    padding:1em;
    background-color:#539987;
    color:white;

body{
  font-family:'Abel', sans-serif;
  font-size:2em;
}

 footer{
  padding:1em;
  text-align:center;
  background-color:#539987;
 }