


title{
  align-items: center;
  font-family:'Fjalla One', sans-serif;
}

header{
    align-items: center;
    font-family:'Fjalla One', sans-serif;
    padding:1em;
    background-color:#539987;
    color:white;
    font-size:3em;
}

img{
  align-items: center;
  max-width: 100%;
  padding:1em;
}

p{ 
  font-family:'Abel', sans-serif;
  font-size:1em;
}


h1{
  font-family:'Abel', sans-serif;
  font-size:2em;
}

li{
  font-family:'Fjalla One', sans-serif;
  font-size:1em;
}

 footer{
  text-align:center;
  font-size:1em;
  background-color:#539987;
 }

