body {
    background-color: lightgrey;
}

header {
    background-color: mediumslateblue;
    color:white;
}

footer{
    background-color: mediumslateblue;
    text-align:center;
    color:white;
}

h2 {
    font-family: 'Fjalla One', sans-serif;
    color:white;
}

p {
    font-family: 'Abel', sans-serif;
    color:white;
}

ul {
    font-family: 'Abel', sans-serif;
    color:white;
}


nav ul{
    list-style: none;
    color:white;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(4em,1fr));
}


  /*phone or baseline view*/


  main{
    display:grid;
    grid-template-columns: 1fr;
    font-size: 0.8rem;
}
/* tablet views*/

@media only screen and (min-width:37.5em) {

  main{
      grid-template-columns: 1fr 1fr;
  }
}

/* desktop views*/

@media only screen and (min-width:60em) {

 main{
     grid-template-columns: 1fr 1fr 1fr;
 }
}
