body {
    background-color: rgb(168, 166, 166);
}

header {
    background-color: rgb(156, 203, 241);
    color:white;
}

.companyname{
    font-family: 'Fjalla One', sans-serif;
    color:white;
    text-align: center;
    
}

footer{
    background-color: rgb(156, 203, 241);
    text-align:center;
    color:white;
   /* position: fixed
    /*z-index: inherit;*/
}

h2 {
    font-family: 'Fjalla One', sans-serif;
    color:white;
}

p {
    font-family: 'Abel', sans-serif;
    color:white;
}

ul {
    font-family: 'Abel', sans-serif;
    color:white;
}


nav ul{
    list-style: none;
    color:white;
    display: flex;
    justify-content: space-evenly;
}


  /*phone or baseline view*/


  main{
    display: flex;
    flex-direction: column;
}
/* tablet views*/

@media only screen and (min-width:37.5em) {

nav{
    display: flex;
    flex-direction: column;
}

  main{
      display: flex;
    flex-direction: column;
    
  }
}

/* desktop views*/

@media only screen and (min-width:60em) {

    nav{
        display: flex;
        flex-direction: column;
    }
    
 main{
     display: flex;
     flex-direction: column;
 }
}
